<div class="cookies">
  <div class="cookies__body">
    <h2 class="cookies__tl" data-i18n="cookies.title">We Value Your Privacy</h2>

    <div class="cookies__txt">
      <p data-i18n="cookies.text">
        We use cookies to personalize content, analyze traffic, and enhance your
        experience. You can manage your preferences or accept all to continue
        enjoying full functionality.
      </p>
    </div>

    <div class="cookies__btns">
      <button type="button" class="btn-def bg-trn st-bl mini acceptFun" data-i18n-html="cookies.functional">
        <span>accept</span> only functional
      </button>
      <button type="button" class="btn-def mini acceptAll" data-i18n-html="cookies.all">
        Accept All <span>Cookies</span>
      </button>
    </div>
  </div>
</div>

