<section class="hero">
  <div class="hero__container">
    <div class="hero__body">
      <div class="hero__content">
        <h1 class="tl1">
          НАЧНИТЕ ТОРГОВАТЬ НА МИРОВЫХ РЫНКАХ БЫСТРО, ПРОСТО, БЕЗОПАСНО
        </h1>
        <div class="txt2 ch">
          <p>
            ST Trader предоставляет вам доступ к самым популярным рынкам мира с
            низкими затратами, быстрым исполнением и без скрытых комиссий
          </p>
        </div>

        <a href="/contact.html" class="btn-def">Начать сейчас</a>
        <p class="note">Регистрация занимает <span>менее 1 минуты</span></p>

        <div class="hero__safe">
          <div>
            <h2>100% безопасно</h2>
            <!-- <p>Duis aute irure dolor</p> -->
          </div>
          <ul>
            <li class="ibg">
              <img src="/img/content/safe_1.jpg" alt="" />
            </li>
            <li class="ibg">
              <img src="/img/content/safe_2.jpg" alt="" />
            </li>
            <li class="ibg">
              <img src="/img/content/safe_3.jpg" alt="" />
            </li>
            <li class="ibg">
              <img src="/img/content/safe_4.jpg" alt="" />
            </li>
          </ul>
        </div>
      </div>

      <div class="widget">
        <div class="widget__tel no-select">
          <img src="/img/decor/tel1.png" alt="" />
        </div>

        <div class="widget__slider">
          <div class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <p>
                    Я начал с €250, просто чтобы попробовать. 
                    Через 3 недели на моем балансе было €412, и мне не нужно было сидеть перед графиками целый день.
                  </p>
                </li>
                <li class="splide__slide">
                  <p>Я уже пробовал несколько платформ, но эта наконец-то понравилась. 
                    Чистый дизайн, быстрые депозиты, а мой первый вывод средств в размере €180 был осуществлен менее чем за сутки.</p>
                </li>
                <li class="splide__slide">
                  <p>
                    Я начинал с €500, а сейчас, спустя 5 недель, торгую с более чем €900. 
                    Никаких сложных настроек, и я могу торговать прямо с телефона во время перерывов.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="trustpilot">
          <a href="#" class="trustpilot__img">
            <img src="/img/content/trust.svg" alt="" />
          </a>
          <p>
            <span>4.8<span>/5</span></span> (Основано на 1 325 отзывах)
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero__wrapp">
    <div class="hero__space no-select">
      <img src="/img/decor/space.png" alt="" />
    </div>
    <div class="hero__bg no-select">
      <img src="/img/decor/bg_lg.jpg" alt="" />
    </div>
    <div class="hero__planet no-select">
      <img src="/img/decor/planet.png" alt="" />
    </div>
    <div class="hero__ellipse" aria-hidden="true"></div>
  </div>
</section>
