<section class="hero">
  <div class="hero__container">
    <div class="hero__body">
      <div class="hero__content">
        <div class="trustpilot">
          <a href="#" class="trustpilot__img">
            <img src="/img/content/trust.svg" alt="" />
          </a>
          <p><span>4.8</span> (на основе 800+)</p>
        </div>

        <h1 class="tl1">КОПИРУЙТЕ НАСТОЯЩИХ ТРЕЙДЕРОВ. ПОЛУЧАЙТЕ НАСТОЯЩИЕ РЕЗУЛЬТАТЫ</h1>
        <div class="txt1 ch">
          <p>
            Позвольте экспертам выполнять работу — вы копируете их сделки в
            реальном времени и зарабатываете, когда они это делают. Всё на
            простой и безопасной платформе, созданной для новичков.
          </p>
        </div>

        <a href="/contact.html" class="btn-def">Начать Copy Trading</a>

        <p class="note">Регистрация занимает <span>менее 1 минуты</span></p>
      </div>

      <div class="hero__graph1 no-select">
        <img src="/img/decor/graph_1.png" alt="" />
      </div>
      <div class="hero__graph2 no-select">
        <img src="/img/decor/graph_2.png" alt="" />
      </div>
      <div class="hero__graph3 no-select">
        <img src="/img/decor/graph_3.png" alt="" />
      </div>
      <div class="hero__girl no-select">
        <img src="/img/decor/girl_2.png" alt="" />
      </div>
    </div>
  </div>

  <div class="hero__wrapp">
    <div class="hero__space no-select">
      <img src="/img/decor/space.png" alt="" />
    </div>
  </div>
</section>

<style>
  @media screen and (min-width: 961px) {
    .hero__content {
      padding-right: 35rem;
    }
    .hero__content .tl1 {
      font-size: 3.4rem;
    }
  }
</style>