@font-face {
  font-family: "OpenSans";
  src:
    url("../../fonts/Regular/OpenSans-Regular.eot") format("eot"),
    url("../../fonts/Regular/OpenSans-Regular.woff2") format("woff2"),
    url("../../fonts/Regular/OpenSans-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src:
    url("../../fonts/SemiBold/OpenSans-SemiBold.eot") format("eot"),
    url("../../fonts/SemiBold/OpenSans-SemiBold.woff2") format("woff2"),
    url("../../fonts/SemiBold/OpenSans-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "OpenSans";
  src:
    url("../../fonts/Bold/OpenSans-Bold.eot") format("eot"),
    url("../../fonts/Bold/OpenSans-Bold.woff2") format("woff2"),
    url("../../fonts/Bold/OpenSans-Bold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
