<section class="hero">
  <div class="hero__container">
    <div class="hero__body">
      <div class="hero__content">
        <h1 class="tl1">
          INIZIA A FARE TRADING NEI MERCATI GLOBALI VELOCE, SEMPLICE, SICURO
        </h1>
        <div class="txt2 ch">
          <p>
            ST Trader ti dà accesso ai mercati più popolari del mondo con
            costi bassi, esecuzione rapida e senza commissioni nascoste
          </p>
        </div>

        <a href="/contact.html" class="btn-def">Inizia Ora</a>
        <p class="note">La registrazione richiede <span>meno di 1 minuto</span></p>

        <div class="hero__safe">
          <div>
            <h2>100% sicuro</h2>
           <!-- <p>Duis aute irure dolor</p> -->
          </div>
          <ul>
            <li class="ibg">
              <img src="/img/content/safe_1.jpg" alt="" />
            </li>
            <li class="ibg">
              <img src="/img/content/safe_2.jpg" alt="" />
            </li>
            <li class="ibg">
              <img src="/img/content/safe_3.jpg" alt="" />
            </li>
            <li class="ibg">
              <img src="/img/content/safe_4.jpg" alt="" />
            </li>
          </ul>
        </div>
      </div>

      <div class="widget">
        <div class="widget__tel no-select">
          <img src="/img/decor/tel1.png" alt="" />
        </div>

        <div class="widget__slider">
          <div class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <p>
                    Ho iniziato con 250 euro solo per provare. 
                    Dopo 3 settimane, avevo €412 sul mio saldo e non avevo bisogno di stare tutto il giorno davanti ai grafici.
                  </p>
                </li>
                <li class="splide__slide">
                  <p>Ho provato diverse piattaforme in passato, ma questa ha finalmente fatto centro. 
                    Design pulito, depositi veloci e il mio primo prelievo di €180 è avvenuto in meno di un giorno.</p>
                </li>
                <li class="splide__slide">
                  <p>
                    Iscritto con 500 euro, ora faccio trading con oltre 900 euro dopo 5 settimane. 
                    Non ci sono setup complicati e posso fare trading direttamente dal mio telefono durante le pause.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="trustpilot">
          <a href="#" class="trustpilot__img">
            <img src="/img/content/trust.svg" alt="" />
          </a>
          <p>
            <span>4.8<span>/5</span></span> (Basato su 1 325 recensioni)
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero__wrapp">
    <div class="hero__space no-select">
      <img src="/img/decor/space.png" alt="" />
    </div>
    <div class="hero__bg no-select">
      <img src="/img/decor/bg_lg.jpg" alt="" />
    </div>
    <div class="hero__planet no-select">
      <img src="/img/decor/planet.png" alt="" />
    </div>
    <div class="hero__ellipse" aria-hidden="true"></div>
  </div>
</section>
