<section class="hero">
  <div class="hero__container">
    <div class="hero__body">
      <div class="hero__content">
        <h1 class="tl1">
          ROZPOCZNIJ HANDEL NA GLOBALNYCH RYNKACH SZYBKO, PROSTO, BEZPIECZNIE
        </h1>
        <div class="txt2 ch">
          <p>
            ST Trader daje Ci dostęp do najpopularniejszych rynków na świecie z
            niskimi kosztami, szybką realizacją i bez ukrytych opłat
          </p>
        </div>

        <a href="/contact.html" class="btn-def">Zacznij Teraz</a>
        <p class="note">Rejestracja zajmuje <span>mniej niż 1 minutę</span></p>

        <div class="hero__safe">
          <div>
            <h2>100% bezpieczne</h2>
           <!-- <p>Duis aute irure dolor</p> -->
          </div>
          <ul>
            <li class="ibg">
              <img src="/img/content/safe_1.jpg" alt="" />
            </li>
            <li class="ibg">
              <img src="/img/content/safe_2.jpg" alt="" />
            </li>
            <li class="ibg">
              <img src="/img/content/safe_3.jpg" alt="" />
            </li>
            <li class="ibg">
              <img src="/img/content/safe_4.jpg" alt="" />
            </li>
          </ul>
        </div>
      </div>

      <div class="widget">
        <div class="widget__tel no-select">
          <img src="/img/decor/tel1.png" alt="" />
        </div>

        <div class="widget__slider">
          <div class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <p>
                    Zacząłem od 250 €, aby spróbować. 
                    Po 3 tygodniach miałem na koncie €412 i nie musiałem siedzieć cały dzień przed wykresami.
                  </p>
                </li>
                <li class="splide__slide">
                  <p>Wypróbowałem już kilka platform, ale ta w końcu przypadła mi do gustu. 
                    Przejrzysty design, szybkie wpłaty, a moja pierwsza wypłata w wysokości 180 € przyszła w mniej niż jeden dzień.</p>
                </li>
                <li class="splide__slide">
                  <p>
                    Dołączyłem z 500 €, a teraz po 5 tygodniach handlu mam ponad 900 €. 
                    Brak skomplikowanych konfiguracji i mogę handlować bezpośrednio z telefonu podczas przerw.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="trustpilot">
          <a href="#" class="trustpilot__img">
            <img src="/img/content/trust.svg" alt="" />
          </a>
          <p>
            <span>4.8<span>/5</span></span> (Na podstawie 1 325 opinii)
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero__wrapp">
    <div class="hero__space no-select">
      <img src="/img/decor/space.png" alt="" />
    </div>
    <div class="hero__bg no-select">
      <img src="/img/decor/bg_lg.jpg" alt="" />
    </div>
    <div class="hero__planet no-select">
      <img src="/img/decor/planet.png" alt="" />
    </div>
    <div class="hero__ellipse" aria-hidden="true"></div>
  </div>
</section>
