<section class="hero">
  <div class="hero__container">
    <div class="hero__body">
      <div class="hero__content">
        <div class="trustpilot">
          <a href="#" class="trustpilot__img">
            <img src="/img/content/trust.svg" alt="" />
          </a>
          <p><span>4.8</span> (na podstawie 800+)</p>
        </div>

        <h1 class="tl1">KOPIUJ PRAWDZIWYCH TRADERÓW. OTRZYMAJ PRAWDZIWE WYNIKI</h1>
        <div class="txt1 ch">
          <p>
            Pozwól ekspertom wykonać pracę — Ty kopiujesz ich transakcje w czasie rzeczywistym
            i zarabiasz, gdy oni to robią. Wszystko na prostej, bezpiecznej platformie
            stworzonej dla początkujących.
          </p>
        </div>

        <a href="/contact.html" class="btn-def">Zacznij Copy Trading</a>

        <p class="note">Rejestracja zajmuje <span>mniej niż 1 minutę</span></p>
      </div>

      <div class="hero__graph1 no-select">
        <img src="/img/decor/graph_1.png" alt="" />
      </div>
      <div class="hero__graph2 no-select">
        <img src="/img/decor/graph_2.png" alt="" />
      </div>
      <div class="hero__graph3 no-select">
        <img src="/img/decor/graph_3.png" alt="" />
      </div>
      <div class="hero__girl no-select">
        <img src="/img/decor/girl_2.png" alt="" />
      </div>
    </div>
  </div>

  <div class="hero__wrapp">
    <div class="hero__space no-select">
      <img src="/img/decor/space.png" alt="" />
    </div>
  </div>
</section>