<div class="actions">
  <ul class="actions__lang">
    <li>
      <a href="#">EN</a>
      <ul class="sub-menu">
        <li class="current-lang">
          <a href="/en.html">EN</a>
        </li>
        <li>
          <a href="/it.html">IT</a>
        </li>
        <li>
          <a href="/pl.html">PL</a>
        </li>
        <li>
          <a href="/de.html">DE</a>
        </li>
        <li>
          <a href="/ru.html">RU</a>
        </li>
      </ul>
    </li>
  </ul>

  <a href="/contact.html" class="btn-def bg-cw mini">Sign Up</a>
</div>
