<div class="mobmenu">
  <div class="mobmenu__body">
    <div class="mobmenu__container">
      <div class="mobmenu__panel">
        <load src="partials/header/parts/navmenu.html" />

        <button type="button" class="moblang__open">EN</button>
      </div>

      <div class="moblang">
        <button type="button" class="moblang__close" data-i18n="mobmenu.back">
          Back
        </button>

        <div class="moblang__list">
          <ul class="sub-menu">
            <li>
              <a href="/en.html">EN</a>
            </li>
            <li>
              <a href="/it.html">IT</a>
            </li>
            <li>
              <a href="/pl.html">PL</a>
            </li>
            <li>
              <a href="/de.html">DE</a>
            </li>
            <li>
              <a href="/ru.html">RU</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="mobmenu__box">
        <a href="/contact.html" class="btn-def mini" data-i18n="mobmenu.button"
          >Get Started Now</a
        >
        <p class="note" data-i18n-html="mobmenu.note">
          Registration takes <span>less than 1 min</span>
        </p>
      </div>
    </div>
  </div>

  <div class="hero__wrapp">
    <div class="hero__space no-select">
      <img src="/img/decor/space.png" alt="" />
    </div>
    <div class="hero__bg no-select">
      <img src="/img/decor/bg_lg.jpg" alt="" />
    </div>
  </div>
</div>
