.secIndex {
  position: relative;
  z-index: 10;
}

.sec-white {
  background-color: var(--cw);
}
.sec-space {
  position: relative;
  overflow: hidden;
}

.pdtb1 {
  padding: 10rem 0;
}
.pdtb2 {
  padding: 7.75rem 0;
}
.pdtb3 {
  padding: 5.5rem 0;
}

.pdt1 {
  padding-top: 10rem;
}
.pdt2 {
  padding-top: 7.75rem;
}

.heading {
  margin-bottom: 2.5rem;
  &.col-gap {
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;
  }
  &.aic {
    align-items: center;
    & > * {
      text-align: center;
    }
  }
}

.tl1,
.tl2,
.tl3,
.tl4 {
  letter-spacing: -0.02em;
  font-weight: 600;
  &.cb {
    color: var(--cb2);
  }
  span {
    color: var(--cl);
  }
}

.tl1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.12;
  text-transform: uppercase;
}
.tl2 {
  font-size: 3rem;
  line-height: 1.16;
  text-transform: uppercase;
}
.tl3 {
  font-size: 2rem;
  line-height: 1.25;
}
.tl4 {
  font-size: 1.5rem;
  line-height: 1.33;
}

.txt1,
.txt2,
.txt3 {
  &.cb {
    color: var(--cb2);
  }
  &.ce {
    color: var(--ce);
  }
  &.ch {
    color: var(--ch);
  }
}

.txt1 {
  font-size: 1.125rem;
  line-height: 1.33;
}
.txt3 {
  font-size: 0.875rem;
  line-height: 1.42;
}

.btn-def {
  position: relative;
  flex-shrink: 0;
  width: fit-content;
  display: block;
  text-align: center;
  background-color: var(--cl);
  color: var(--cb2);
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  box-shadow: 0 0 0.75rem rgba(13, 227, 214, 0.64);
  transition: all 0.15s ease-in;

  &.mini {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.75rem 1.5rem;
  }

  &.bg-cw {
    background-color: var(--cw);
    box-shadow: none;
    &:hover {
      box-shadow: 0 0 1rem rgba(255, 255, 255, 0.34);
    }
  }

  &.bg-trn {
    color: var(--cw);
    background-color: transparent;
    border: 0.0625rem solid var(--cw);
    padding: 0.9375rem 1.4375rem;
    text-transform: none;
    box-shadow: none;
    &.mini {
      padding: 0.6875rem 1.4375rem;
    }
    &.st-bl {
      color: var(--cb2);
      border-color: var(--cb2);
      &:hover {
        background-color: var(--cb2);
        color: var(--cw);
      }
    }
    &:hover {
      box-shadow: none;
      background-color: var(--cw);
      color: var(--cb2);
    }
  }

  &:hover {
    box-shadow: 0 0 1.25rem rgba(13, 227, 214, 0.64);
  }
}

@media screen and (max-width: 960px) {
  .pdtb1 {
    padding: 6rem 0;
  }
  .pdtb2,
  .pdtb3 {
    padding: 64px 0;
  }

  .pdt1 {
    padding-top: 6rem;
  }
  .pdt2 {
    padding-top: 4rem;
  }

  .heading {
    margin-bottom: 1.5rem;
    &.col-gap {
      gap: 1rem 0;
      align-items: center;
    }
    & > * {
      text-align: center;
    }
  }

  .tl1,
  .tl2 {
    font-size: 2rem;
    line-height: 1;
  }
  .tl2 {
    font-size: 1.75rem;
    line-height: 1.4;
  }
  .tl3 {
    font-size: 1.5rem;
    line-height: 1.33;
  }
  .tl4 {
    font-size: 1.125rem;
  }

  .txt1,
  .txt2 {
    font-size: 0.875rem;
    line-height: 1.42;
  }

  .btn-def {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.75rem 1.5rem;

    &.bg-trn {
      padding: 0.6875rem 1.4375rem;
      font-size: 1.125rem;
      line-height: 1.33;
    }
  }
}
