.embeded {
  counter-reset: section;
  & > * {
    margin-top: 0.75rem;
    color: var(--ch);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
      border-bottom: none !important;
    }
  }

  a {
    text-decoration: underline !important;
    text-underline-position: under;
    text-decoration-thickness: 1px !important;
  }

  b,
  strong {
    font-weight: 600;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--cw);
    font-weight: 600;
  }

  h1,
  h2 {
    position: relative;
    counter-increment: section;
    padding-left: 2.125rem;
    &::before {
      content: counter(section) ". ";
      position: absolute;
      left: 0;
      top: 0;
    }

    font-size: 2rem;
    line-height: 1.25;
    text-transform: uppercase;
    margin: 3rem 0 1.5rem 0;
  }
  h3,
  h4 {
    font-size: 1.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    margin: 2.625rem 0 1.25rem 0;
  }

  ul {
    margin-left: 0.875rem;

    li {
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
      list-style: disc;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ol {
    padding-left: 1.25rem;
    margin-left: 0;

    li {
      margin-bottom: 0.5rem;
      list-style: decimal;
      margin-left: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .wp-block-image,
  .wp-block-video,
  .wp-block-embed {
    margin: 2.5rem 0;
    width: 100%;

    &.is-resized {
      img,
      video,
      iframe {
        width: 100% !important;
      }
    }

    &.aligncenter {
      img,
      video,
      iframe {
        margin: 0 auto;
      }
    }

    &.alignright {
      display: flex;
      justify-content: flex-end;
    }

    img,
    video,
    iframe {
      max-width: 100% !important;
      display: block;
      height: auto !important;
    }

    .wp-block-embed__wrapper {
      padding-top: calc(100% / 16 * 9);
      position: relative;
    }

    iframe {
      width: 100% !important;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      height: 100% !important;
    }
  }
}

@media screen and (max-width: 960px) {
  .embeded {
    & > * {
      font-size: 0.875rem;
      line-height: 1.42;
    }

    h1,
    h2 {
      padding-left: 1.25rem;
      font-size: 1.125rem;
      line-height: 1.33;
      margin: 3rem 0 1rem 0;
    }
    h3,
    h4 {
      font-size: 1rem;
      line-height: 1.5;
      margin: 2.625rem 0 1rem 0;
    }

    ul {
      margin-left: 0.75rem;
    }

    ol {
      padding-left: 1rem;
    }
  }
}
