<section class="commision">
  <div class="commision__container">
    <div class="commision__body">
      <div class="commision__content">
        <div class="commision__heading">
          <p class="commision__subtl" data-i18n="commision.subtitle">Lower costs. Higher potential.</p>
          <h2 class="commision__tl" data-i18n="commision.title">$0 commision</h2>
        </div>

        <ul class="commision__list">
          <li class="commision__item">
            <div class="commision__img no-select">
              <img src="/img/content/comm_1.png" alt="" />
            </div>
            <p data-i18n="commision.features.feature1">$0 commission</p>
          </li>
          <li class="commision__item">
            <div class="commision__img no-select">
              <img src="/img/content/comm_2.png" alt="" />
            </div>
            <p data-i18n="commision.features.feature2">Spreads from 0.0 pips</p>
          </li>
          <li class="commision__item">
            <div class="commision__img no-select">
              <img src="/img/content/comm_3.png" alt="" />
            </div>
            <p data-i18n="commision.features.feature3">1:500 high leverage</p>
          </li>
          <li class="commision__item">
            <div class="commision__img no-select">
              <img src="/img/content/comm_4.png" alt="" />
            </div>
            <p data-i18n="commision.features.feature4">No deposit fees</p>
          </li>
        </ul>
      </div>

      <div class="commision__space no-select">
        <img src="/img/decor/space.png" alt="" />
      </div>
      <div class="commision__bg no-select">
        <img src="/img/decor/bg_lg.jpg" alt="" />
      </div>
      <div class="commision__meteor no-select">
        <img src="/img/decor/meteor.png" alt="" />
      </div>
    </div>
  </div>
</section>
