<section id="copytrad" class="copytrad secIndex">
  <div class="copytrad__container">
    <div class="copytrad__body">
      <div class="copytrad__tel no-select">
        <img src="/img/decor/tel2.png" alt="" />
      </div>

      <div class="copytrad__content">
        <h2 class="tl2" data-i18n="copytrad.title">WHAT IS COPY TRADING?</h2>
        <div class="txt1 ch">
          <p data-i18n="copytrad.description">
            What if you could trade like top investors without doing it all on
            your own? With Copy Trading, you simply choose an experienced
            trader, and their moves are automatically mirrored in your account.
            It’s a smarter, more connected way to invest — no charts, no stress,
            no guesswork.
          </p>
        </div> 
        <a href="#" class="btn-def" data-i18n="copytrad.button">Start Copy Trading</a>
      </div>
    </div>
  </div>
</section>