<section class="copytop pdt1 secIndex">
  <div class="copytop__container">
    <div class="copytop__body">
      <div class="copytop__content">
        <h2 class="tl2" data-i18n="copytop.title">
          DON’T TRADE ALONE — COPY THOSE WHO WIN
        </h2>
        <div class="txt1 ch">
          <p data-i18n="copytop.text">
            Your first step to smart trading starts here
          </p>
        </div>
        <a href="/contact.html" class="btn-def" data-i18n="copytop.button">
          Create Your Account
        </a>
      </div>

      <div class="copytop__space no-select">
        <img src="/img/decor/space.png" alt="" />
      </div>
      <div class="copytop__bg no-select">
        <img src="/img/decor/bg_lg.jpg" alt="" />
      </div>

      <div class="copytop__graph1 no-select">
        <img src="/img/decor/graph_1.png" alt="" />
      </div>
      <div class="copytop__graph2 no-select">
        <img src="/img/decor/graph_2.png" alt="" />
      </div>
      <div class="copytop__graph3 no-select">
        <img src="/img/decor/graph_3.png" alt="" />
      </div>
      <div class="copytop__girl no-select">
        <img src="/img/decor/girl_1.png" alt="" />
      </div>
    </div>
  </div>
</section>
