<section class="deposits pdt2 secIndex">
  <div class="deposits__container">
    <div class="heading col-gap aic">
      <h2 class="tl2" data-i18n="deposits.title">FAST AND SECURE DEPOSITS</h2>
  
      <div class="txt3 ce">
        <p data-i18n="deposits.text">
          Top up your account instantly using trusted global payment methods
        </p>
      </div>
    </div>
  </div>
  

  <div class="banner">
    <div class="banner__container">
      <div class="banner__carousell" data-spdesc="15" data-spmob="25">
        <ul class="banner__list carseFirst">
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_1.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_2.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_3.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_4.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_5.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_6.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_7.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_8.png" alt="" />
              </div>
            </div>
          </li>
        </ul>

        <ul class="banner__list carseSecond">
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_1.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_2.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_3.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_4.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_5.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_6.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_7.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_8.png" alt="" />
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div
        class="banner__carousell"
        data-spdesc="15"
        data-spmob="25"
        data-reverse
      >
        <ul class="banner__list carseFirst">
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_9.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_10.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_11.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_12.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_13.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_14.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_15.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_16.png" alt="" />
              </div>
            </div>
          </li>
        </ul>

        <ul class="banner__list carseSecond">
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_9.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_10.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_11.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_12.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_13.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_14.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_15.png" alt="" />
              </div>
            </div>
          </li>
          <li class="banner__item">
            <div class="banner__box">
              <div class="deposits__img">
                <img src="/img/content/depo_16.png" alt="" />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
