<section class="grow pdt1 secIndex">
  <div class="grow__container">
    <div class="heading col-gap aic">
      <h2 class="tl2" data-i18n="grow.title">WHAT CAN YOUR DEPOSIT GROW INTO?</h2>
      <a href="#" class="btn-def" data-i18n="grow.button">Try the Platform Demo</a>
    </div>

    <div class="grow__slider splide">
      <div class="splide__track">
        <ul class="splide__list">
          <!-- Card 1 -->
          <li class="splide__slide card-grow">
            <div class="card-grow__user">
              <div class="card-grow__ava ibg">
                <img src="/img/content/safe_1.jpg" alt="" />
              </div>
              <div class="card-grow__box">
                <div class="card-grow__name">
                  <h3>Elena, 30</h3>
                  <p data-i18n="grow.cards.country_italy">Italy</p>
                </div>
                <p class="card-grow__minday" data-i18n="grow.cards.minday_20">20 min/day</p>
              </div>
            </div>

            <div class="card-grow__graph no-select">
              <img src="/img/content/graph_1.png" alt="" />
            </div>

            <ul class="card-grow__list">
              <li>
                <p data-i18n="grow.cards.starting">Starting Deposit</p>
                <h4>€250</h4>
              </li>
              <li>
                <p data-i18n="grow.cards.result">30-Day Result</p>
                <h4>€392</h4>
              </li>
              <li>
                <p data-i18n="grow.cards.growth">Growth</p>
                <h4>+57%</h4>
              </li>
            </ul>
          </li>

          <!-- Card 2 -->
          <li class="splide__slide card-grow">
            <div class="card-grow__user">
              <div class="card-grow__ava ibg">
                <img src="/img/content/safe_2.jpg" alt="" />
              </div>
              <div class="card-grow__box">
                <div class="card-grow__name">
                  <h3>David, 23</h3>
                  <p data-i18n="grow.cards.country_germany">Germany</p>
                </div>
                <p class="card-grow__minday" data-i18n="grow.cards.minday_50">50 min/day</p>
              </div>
            </div>

            <div class="card-grow__graph no-select">
              <img src="/img/content/graph_2.png" alt="" />
            </div>

            <ul class="card-grow__list">
              <li>
                <p data-i18n="grow.cards.starting">Starting Deposit</p>
                <h4>€500</h4>
              </li>
              <li>
                <p data-i18n="grow.cards.result">30-Day Result</p>
                <h4>€825</h4>
              </li>
              <li>
                <p data-i18n="grow.cards.growth">Growth</p>
                <h4>+65%</h4>
              </li>
            </ul>
          </li>

          <!-- Card 3 -->
          <li class="splide__slide card-grow">
            <div class="card-grow__user">
              <div class="card-grow__ava ibg">
                <img src="/img/content/safe_3.jpg" alt="" />
              </div>
              <div class="card-grow__box">
                <div class="card-grow__name">
                  <h3>Sofia, 40</h3>
                  <p data-i18n="grow.cards.country_spain">Spain</p>
                </div>
                <p class="card-grow__minday" data-i18n="grow.cards.minday_30">30 min/day</p>
              </div>
            </div>

            <div class="card-grow__graph no-select">
              <img src="/img/content/graph_3.png" alt="" />
            </div>

            <ul class="card-grow__list">
              <li>
                <p data-i18n="grow.cards.starting">Starting Deposit</p>
                <h4>€300</h4>
              </li>
              <li>
                <p data-i18n="grow.cards.result">30-Day Result</p>
                <h4>€478</h4>
              </li>
              <li>
                <p data-i18n="grow.cards.growth">Growth</p>
                <h4>+59%</h4>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
