<section class="hero">
  <div class="hero__container">
    <div class="hero__body">
      <div class="hero__content">
        <h1 class="tl1">
          START TRADING IN GLOBAL MARKETS FAST, SIMPLE, SECURE
        </h1>
        <div class="txt2 ch">
          <p>
            ST Trader gives you access to the world’s most popular markets with
            low costs, fast execution, and no hidden fees
          </p>
        </div>

        <a href="/contact.html" class="btn-def">Get Started Now</a>
        <p class="note">Registration takes <span>less than 1 min</span></p>

        <div class="hero__safe">
          <div>
            <h2>100% safe</h2>
           <!-- <p>Duis aute irure dolor</p> -->
          </div>
          <ul>
            <li class="ibg">
              <img src="/img/content/safe_1.jpg" alt="" />
            </li>
            <li class="ibg">
              <img src="/img/content/safe_2.jpg" alt="" />
            </li>
            <li class="ibg">
              <img src="/img/content/safe_3.jpg" alt="" />
            </li>
            <li class="ibg">
              <img src="/img/content/safe_4.jpg" alt="" />
            </li>
          </ul>
        </div>
      </div>

      <div class="widget">
        <div class="widget__tel no-select">
          <img src="/img/decor/tel1.png" alt="" />
        </div>

        <div class="widget__slider">
          <div class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <p>
                    I started with €250 just to try it out. After 3 weeks, 
                    I had €412 on my balance, and I didn’t need to sit in front of charts all day.
                  </p>
                </li>
                <li class="splide__slide">
                  <p> I’ve tried several platforms before, but this one finally clicked. Clean design, 
                    fast deposits, and my first withdrawal of €180 came through in less than a day.</p>
                </li>
                <li class="splide__slide">
                  <p>
                    Joined with €500, now trading with over €900 after 5 weeks. 
                    No complicated setups, and I can trade right from my phone during breaks.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="trustpilot">
          <a href="#" class="trustpilot__img">
            <img src="/img/content/trust.svg" alt="" />
          </a>
          <p>
            <span>4.8<span>/5</span></span> (Based on 1 325 reviews)
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero__wrapp">
    <div class="hero__space no-select">
      <img src="/img/decor/space.png" alt="" />
    </div>
    <div class="hero__bg no-select">
      <img src="/img/decor/bg_lg.jpg" alt="" />
    </div>
    <div class="hero__planet no-select">
      <img src="/img/decor/planet.png" alt="" />
    </div>
    <div class="hero__ellipse" aria-hidden="true"></div>
  </div>
</section>
