<section id="meet" class="meet pdt2 secIndex">
  <div class="meet__container">
    <div class="heading col-gap aic">
      <h2 class="tl2" data-i18n="meet.title">MEET OUR TOP PERFORMERS</h2>
    </div>

    <div class="meet__wrapp">
      <ul class="meet__cards">
        <li class="card-meet">
          <div class="card-meet__top">
            <div class="card-meet__field">
              <div class="card-meet__space no-select">
                <img src="/img/decor/space.png" alt="" />
              </div>
              <div class="card-meet__bg no-select">
                <img src="/img/decor/bg_lg.jpg" alt="" />
              </div>
            </div>

            <h3 class="card-meet__place" data-i18n="meet.card_1.place">#1</h3>
            <div class="card-meet__ava">
              <div class="no-select ibg">
                <img src="./img/content/safe_2.png" alt="" />
              </div>
              <span class="no-select">
                <img src="./img/decor/wreath.svg" alt="" />
              </span>
            </div>
          </div>

          <div class="card-meet__box">
            <h4 class="card-meet__name" data-i18n="meet.card_1.name">Lucas M.</h4>
            <ul class="card-meet__inf">
              <li data-i18n="meet.card_1.followers">Followers: 842</li>
              <li data-i18n="meet.card_1.trades">Trades: 112</li>
            </ul>
            <ul class="card-meet__list">
              <li data-i18n="meet.card_1.roi">ROI (Monthly): <span>+61.4%</span></li>
              <li data-i18n="meet.card_1.earnings">Est. Earnings: <span>€385</span></li>
            </ul>
            <p class="card-meet__from" data-i18n="meet.card_1.from">From: <span>€250</span></p>
            <a href="#" class="btn-def bg-trn" data-i18n="meet.button">Start Copy Trading</a>
          </div>
        </li>

        <li class="card-meet">
          <div class="card-meet__top">
            <div class="card-meet__field">
              <div class="card-meet__space no-select">
                <img src="/img/decor/space.png" alt="" />
              </div>
              <div class="card-meet__bg no-select">
                <img src="/img/decor/bg_lg.jpg" alt="" />
              </div>
            </div>

            <h3 class="card-meet__place" data-i18n="meet.card_2.place">#2</h3>
            <div class="card-meet__ava">
              <div class="no-select ibg">
                <img src="./img/content/safe_1.png" alt="" />
              </div>
              <span class="no-select">
                <img src="./img/decor/wreath.svg" alt="" />
              </span>
            </div>
          </div>

          <div class="card-meet__box">
            <h4 class="card-meet__name" data-i18n="meet.card_2.name">Daniel V.</h4>
            <ul class="card-meet__inf">
              <li data-i18n="meet.card_2.followers">Followers: 1,130</li>
              <li data-i18n="meet.card_2.trades">Trades: 154</li>
            </ul>
            <ul class="card-meet__list">
              <li data-i18n="meet.card_2.roi">ROI (Monthly): <span>+73%</span></li>
              <li data-i18n="meet.card_2.earnings">Est. Earnings: <span>€875</span></li>
            </ul>
            <p class="card-meet__from" data-i18n="meet.card_2.from">From: <span>€500</span></p>
            <a href="#" class="btn-def bg-trn" data-i18n="meet.button">Start Copy Trading</a>
          </div>
        </li>

        <li class="card-meet">
          <div class="card-meet__top">
            <div class="card-meet__field">
              <div class="card-meet__space no-select">
                <img src="/img/decor/space.png" alt="" />
              </div>
              <div class="card-meet__bg no-select">
                <img src="/img/decor/bg_lg.jpg" alt="" />
              </div>
            </div>

            <h3 class="card-meet__place" data-i18n="meet.card_3.place">#3</h3>
            <div class="card-meet__ava">
              <div class="no-select ibg">
                <img src="./img/content/safe_3.png" alt="" />
              </div>
              <span class="no-select">
                <img src="./img/decor/wreath.svg" alt="" />
              </span>
            </div>
          </div>

          <div class="card-meet__box">
            <h4 class="card-meet__name" data-i18n="meet.card_3.name">Sofia R.</h4>
            <ul class="card-meet__inf">
              <li data-i18n="meet.card_3.followers">Followers: 670</li>
              <li data-i18n="meet.card_3.trades">Trades: 89</li>
            </ul>
            <ul class="card-meet__list">
              <li data-i18n="meet.card_3.roi">ROI (Monthly): <span>+48%</span></li>
              <li data-i18n="meet.card_3.earnings">Est. Earnings: <span>€720</span></li>
            </ul>
            <p class="card-meet__from" data-i18n="meet.card_3.from">From: <span>€500</span></p>
            <a href="#" class="btn-def bg-trn" data-i18n="meet.button">Start Copy Trading</a>
          </div>
        </li>
      </ul>

      <a href="#" class="btn-def" data-i18n="meet.see_more">See More Traders</a>
    </div>
  </div>
</section>