<section class="reviews pdt1 secIndex" id="reviews">
  <div class="reviews__container">
    <div class="trustpilot">
      <a href="#" class="trustpilot__img">
        <img src="/img/content/trust.svg" alt="" />
      </a>
      <p data-i18n-html="reviews.rating">
        <span>4.8<span>/5</span></span> (based on 800+ verified reviews)
      </p>
    </div>

    <div class="heading col-gap aic">
      <h2 class="tl2" data-i18n="reviews.title">
        WHAT REAL USERS SAY ABOUT COPY TRADING WITH ST TRADER
      </h2>
      <div class="txt1">
        <p data-i18n="reviews.subtitle">
          New traders, real results — here’s what they’re saying
        </p>
      </div>
    </div>

    <div class="reviews__wrapp more-block">
      <ul class="reviews__cards">
        <!-- Відео-відгук -->
        <li class="card-review">
          <div class="card-review__media media-box">
            <div class="card-review__video video-box">
              <video poster="./img/content/photo_1.jpg" preload="metadata">
                <source src="/img/media/Video_review_1.mp4" type="video/mp4" />
                <source
                  src="/img/media/Video_review_1.webm"
                  type="video/webm"
                />
              </video>
            </div>
            <button
              type="button"
              class="card-review__play video-play"
              aria-label="Video play"
            >
              <span><img src="/img/icons/play.svg" alt="" /></span>
            </button>
          </div>
          <div class="card-review__user">
            <div class="card-review__ava ibg">
              <img src="/img/content/photo_1.jpg" alt="" />
            </div>
            <div class="card-review__name">
              <h3>Samir</h3>
              <p>4.6/5</p>
            </div>
          </div>
        </li>

        <!-- Текстовий відгук 1 -->
        <li class="card-review">
          <div class="card-review__mess txt2">
            <p data-i18n="reviews.review1.text">
              I started with €250 just to try it out. After 3 weeks, I had €412
              on my balance — and I didn’t need to sit in front of charts all
              day.
            </p>
          </div>
          <div class="card-review__user">
            <div class="card-review__ava ibg">
              <img src="/img/content/safe_5.jpg" alt="" />
            </div>
            <div class="card-review__name">
              <h3 data-i18n="reviews.review1.name">Lucas T. (Germany)</h3>
              <p>4.7/5</p>
            </div>
          </div>
        </li>

        <!-- Текстовий відгук 2 -->
        <li class="card-review">
          <div class="card-review__mess txt2">
            <p data-i18n="reviews.review2.text1">
              I’ve tried a few platforms before, but this one finally clicked.
            </p>
          </div>
          <div class="card-review__user">
            <div class="card-review__ava ibg">
              <img src="/img/content/safe_6.jpg" alt="" />
            </div>
            <div class="card-review__name">
              <h3 data-i18n="reviews.review2.name">Sofia M. (Spain)</h3>
              <p>5.0/5</p>
            </div>
          </div>
        </li>

        <!-- Повтор відео -->
        <li class="card-review">
          <div class="card-review__media media-box">
            <div class="card-review__video video-box">
              <video poster="./img/content/photo_2.jpg" preload="metadata">
                <source src="/img/media/Video_review_2.mp4" type="video/mp4" />
                <source
                  src="/img/media/Video_review_2.webm"
                  type="video/webm"
                />
              </video>
            </div>
            <button
              type="button"
              class="card-review__play video-play"
              aria-label="Video play"
            >
              <span><img src="/img/icons/play.svg" alt="" /></span>
            </button>
          </div>
          <div class="card-review__user">
            <div class="card-review__ava ibg">
              <img src="/img/content/photo_2.jpg" alt="" />
            </div>
            <div class="card-review__name">
              <h3>Laura</h3>
              <p>4.8/5</p>
            </div>
          </div>
        </li>
      </ul>

      <ul class="reviews__cards">
        <!-- Повтор відгуку 1 -->
        <li class="card-review">
          <div class="card-review__mess txt2">
            <p data-i18n="reviews.review3.text">
              I was sceptical at first, but it turned out legit. I trade during
              lunch breaks, and already withdrew profits twice.
            </p>
          </div>
          <div class="card-review__user">
            <div class="card-review__ava ibg">
              <img src="/img/content/safe_7.jpg" alt="" />
            </div>
            <div class="card-review__name">
              <h3 data-i18n="reviews.review3.name">Daniel K. (Sweden)</h3>
              <p>4.9/5</p>
            </div>
          </div>
        </li>

        <!-- Повтор відгуку 1 -->
        <li class="card-review">
          <div class="card-review__mess txt2">
            <p data-i18n="reviews.review4.text">
              Was skeptical at first, but it turned out legit. I trade during
              lunch breaks, and already withdrew profits twice.
            </p>
          </div>
          <div class="card-review__user">
            <div class="card-review__ava ibg">
              <img src="/img/content/safe_8.jpg" alt="" />
            </div>
            <div class="card-review__name">
              <h3 data-i18n="reviews.review.name">Mia S. (Austria)</h3>
              <p>4.8/5</p>
            </div>
          </div>
        </li>
      </ul>

      <button
        type="button"
        class="btn-def bg-trn addMore"
        data-i18n="reviews.show_more"
      >
        Show more
      </button>
    </div>
  </div>
</section>
