<section class="runline secIndex">
  <div class="banner">
    <div class="banner__carousell" data-spdesc="15" data-spmob="25">
      <ul class="banner__list carseFirst">
        <li class="banner__item">
          <div class="banner__box">
            <div class="runline__ico">
              <img src="/img/icons/run_1.svg" alt="" />
            </div>
            <h2 data-i18n="runline.item_1">Easy-to-use trading platform for everyone</h2>
          </div>
        </li>
        <li class="banner__item">
          <div class="banner__box">
            <div class="runline__ico">
              <img src="/img/icons/run_2.svg" alt="" />
            </div>
            <h2 data-i18n="runline.item_2">Free account setup with low minimum deposit</h2>
          </div>
        </li>
        <li class="banner__item">
          <div class="banner__box">
            <div class="runline__ico">
              <img src="/img/icons/run_3.svg" alt="" />
            </div>
            <h2 data-i18n="runline.item_3">Trade global markets anytime, anywhere</h2>
          </div>
        </li>
        <li class="banner__item">
          <div class="banner__box">
            <div class="runline__ico">
              <img src="/img/icons/run_1.svg" alt="" />
            </div>
            <h2 data-i18n="runline.item_4">Fast withdrawals and secure payments</h2>
          </div>
        </li>
      </ul>

      <ul class="banner__list carseSecond">
        <li class="banner__item">
          <div class="banner__box">
            <div class="runline__ico">
              <img src="/img/icons/run_1.svg" alt="" />
            </div>
            <h2 data-i18n="runline.item_1">Easy-to-use trading platform for everyone</h2>
          </div>
        </li>
        <li class="banner__item">
          <div class="banner__box">
            <div class="runline__ico">
              <img src="/img/icons/run_2.svg" alt="" />
            </div>
            <h2 data-i18n="runline.item_2">Free account setup with low minimum deposit</h2>
          </div>
        </li>
        <li class="banner__item">
          <div class="banner__box">
            <div class="runline__ico">
              <img src="/img/icons/run_3.svg" alt="" />
            </div>
            <h2 data-i18n="runline.item_3">Trade global markets anytime, anywhere</h2>
          </div>
        </li>
        <li class="banner__item">
          <div class="banner__box">
            <div class="runline__ico">
              <img src="/img/icons/run_1.svg" alt="" />
            </div>
            <h2 data-i18n="runline.item_4">Fast withdrawals and secure payments</h2>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
