<section class="solution pdt1 secIndex">
  <div class="solution__container">
    <div class="solution__body">
      <div class="heading col-gap aic">
        <h2 class="tl2">ST TRADER — YOUR ALL-IN-ONE TRADING SOLUTION</h2>
      </div>

      <ul class="solution__cards">
        <li class="card-solution">
          <div class="card-solution__img no-select">
            <img src="./img/content/trust_3.png" alt="" />
          </div>
          <h3 class="card-solution__tl">Wide range of markets</h3>
          <div class="txt3 ch">
            <p>
              Trade stocks, indices, commodities, energy, and even crypto — all
              from a single platform
            </p>
          </div>
        </li>
        <li class="card-solution">
          <div class="card-solution__img no-select">
            <img src="./img/content/trust_5.png" alt="" />
          </div>
          <h3 class="card-solution__tl">Beginner-friendly interface</h3>
          <div class="txt3 ch">
            <p>
              No clutter, no confusion. Just a clean, intuitive experience on
              mobile and desktop
            </p>
          </div>
        </li>
        <li class="card-solution">
          <div class="card-solution__img no-select">
            <img src="./img/content/trust_2.png" alt="" />
          </div>
          <h3 class="card-solution__tl">Licensed & protected</h3>
          <div class="txt3 ch">
            <p>
              ST Trader is a fully regulated broker with insurance coverage up
              to $1,000,000
            </p>
          </div>
        </li>
        <li class="card-solution">
          <div class="card-solution__img no-select">
            <img src="./img/content/trust_6.png" alt="" />
          </div>
          <h3 class="card-solution__tl">Fast execution & withdrawals</h3>
          <div class="txt3 ch">
            <p>
              Enjoy ultra-fast trade execution and 24-hour payout processing —
              no delays
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
