<section class="steps">
  <div class="steps__container">
    <div class="steps__body">
      <div class="steps__head">
        <h2 class="tl2 cb">START IN 3 SIMPLE STEPS</h2>
      </div>

      <div class="steps__box">
        <div class="steps__space no-select">
          <img src="/img/decor/space.png" alt="" />
        </div>
        <div class="steps__bg no-select">
          <img src="/img/decor/bg_lg.jpg" alt="" />
        </div>
        <div class="steps__tel no-select">
          <img src="/img/decor/tel2.png" alt="" />
        </div>
      </div>

      <div class="steps__content">
        <ul class="steps__list">
          <li>
            <span>Step 01</span>
            <h3 class="tl3 cb">Sign up and explore top traders</h3>
          </li>
          <li>
            <span>Step 02</span>
            <h3 class="tl3 cb">Make a deposit from €250</h3>
          </li>
          <li>
            <span>Step 03</span>
            <h3 class="tl3 cb">
              Copy a trader and let the platform do the rest
            </h3>
          </li>
        </ul>

        <a href="#" class="btn-def">Get Started Now</a>
      </div>
    </div>
  </div>
</section>
