<section class="trade pdtb1" id="trade">
  <div class="trade__container">
    <div class="trade__wrapp">
      <div class="trade__body">
        <div class="heading col-gap aic">
          <h2 class="tl2" data-i18n="trade.title">WHAT CAN YOU TRADE WITH ST TRADER?</h2>
          <a href="/contact.html" class="btn-def" data-i18n="trade.button">Get Started Now</a>
        </div>

        <div class="trade__slider splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide card-trade">
                <h3 class="tl3" data-i18n="trade.items.stocks.title">Stocks</h3>
                <div class="txt3 ce">
                  <p data-i18n="trade.items.stocks.text">
                    Your funds are protected with Lloyd’s of London insurance coverage
                  </p>
                </div>
                <div class="trade__img no-select">
                  <img src="/img/content/trade_1.png" alt="" />
                </div>
                <div class="trade__dec no-select">
                  <img src="/img/decor/trade_dec.png" alt="" />
                </div>
              </li>

              <li class="splide__slide card-trade">
                <h3 class="tl3" data-i18n="trade.items.indices.title">Indices</h3>
                <div class="txt3 ce">
                  <p data-i18n="trade.items.indices.text">
                    Your funds are protected with Lloyd’s of London insurance coverage
                  </p>
                </div>
                <div class="trade__img no-select">
                  <img src="/img/content/trade_2.png" alt="" />
                </div>
                <div class="trade__dec no-select">
                  <img src="/img/decor/trade_dec.png" alt="" />
                </div>
              </li>

              <li class="splide__slide card-trade">
                <h3 class="tl3" data-i18n="trade.items.etfs.title">ETFs</h3>
                <div class="txt3 ce">
                  <p data-i18n="trade.items.etfs.text">
                    Your funds are protected with Lloyd’s of London insurance coverage
                  </p>
                </div>
                <div class="trade__img no-select">
                  <img src="/img/content/trade_3.png" alt="" />
                </div>
                <div class="trade__dec no-select">
                  <img src="/img/decor/trade_dec.png" alt="" />
                </div>
              </li>

              <li class="splide__slide card-trade">
                <h3 class="tl3" data-i18n="trade.items.commodities.title">Commodities</h3>
                <div class="txt3 ce">
                  <p data-i18n="trade.items.commodities.text">
                    Your funds are protected with Lloyd’s of London insurance coverage
                  </p>
                </div>
                <div class="trade__img no-select">
                  <img src="/img/content/trade_4.png" alt="" />
                </div>
                <div class="trade__dec no-select">
                  <img src="/img/decor/trade_dec.png" alt="" />
                </div>
              </li>

              <li class="splide__slide card-trade">
                <h3 class="tl3" data-i18n="trade.items.energy.title">Energy Markets</h3>
                <div class="txt3 ce">
                  <p data-i18n="trade.items.energy.text">
                    Your funds are protected with Lloyd’s of London insurance coverage
                  </p>
                </div>
                <div class="trade__img no-select">
                  <img src="/img/content/trade_5.png" alt="" />
                </div>
                <div class="trade__dec no-select">
                  <img src="/img/decor/trade_dec.png" alt="" />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="trade__vec1 no-select" aria-hidden="true">
        <img src="/img/decor/vec_1.svg" alt="" />
      </div>
      <div class="trade__vec2 no-select" aria-hidden="true">
        <img src="/img/decor/vec_2.svg" alt="" />
      </div>
    </div>
  </div>
</section>
