<section class="type pdt1">
  <div class="type__container">
    <div class="type__wrapp">
      <div class="type__body">
        <div class="heading col-gap aic">
          <h2 class="tl2" data-i18n="type.title">CHOOSE YOUR ACCOUNT TYPE</h2>

          <div class="txt3 ce">
            <p data-i18n="type.subtitle">
              Two flexible account types tailored to your goals and trading habits
            </p>
          </div>
        </div>

        <ul class="type__cards">
          <!-- STANDARD ACCOUNT -->
          <li class="card-type">
            <div class="card-type__img ibg">
              <img src="/img/content/type_1.jpg" alt="" />
              <h3 class="card-type__tl" data-i18n="type.standard.title">STANDARD</h3>
            </div>

            <ul class="card-type__list">
              <li data-i18n-html="type.standard.features.feature1">Spreads starting from <b>1.0 pips</b></li>
              <li data-i18n-html="type.standard.features.feature2"><b>Ultra-fast</b> Execution</li>
              <li data-i18n-html="type.standard.features.feature3">No <b>Dealing Desk</b></li>
              <li data-i18n-html="type.standard.features.feature4"><b>Transparent Trading</b> Environment</li>
              <li data-i18n-html="type.standard.features.feature5">Negative Balance <b>Protection</b></li>
              <li data-i18n-html="type.standard.features.feature6"><b>No commission</b> on trades (except indices)</li>
            </ul>

            <a href="#" class="btn-def" data-i18n="type.standard.button">OPEN A STANDARD ACCOUNT NOW</a>
            <p class="note" data-i18n-html="type.note">Just sign up - <span>it’s free</span></p>
          </li>

          <!-- ECN ACCOUNT -->
          <li class="card-type">
            <div class="card-type__img ibg">
              <img src="/img/content/type_2.jpg" alt="" />
              <h3 class="card-type__tl" data-i18n="type.ecn.title">ECN</h3>
            </div>

            <ul class="card-type__list">
              <li data-i18n-html="type.ecn.features.feature1">Spreads starting from <b>0.0 pips</b></li>
              <li data-i18n-html="type.ecn.features.feature2"><b>Ultra-fast</b> Execution</li>
              <li data-i18n-html="type.ecn.features.feature3">In-depth <b>Market Insights</b></li>
              <li data-i18n-html="type.ecn.features.feature4"><b>Transparent Trading</b> Environment</li>
              <li data-i18n-html="type.ecn.features.feature5">Negative Balance <b>Protection</b></li>
              <li data-i18n-html="type.ecn.features.feature6"><b>Commission:</b> Yes</li>
            </ul>

            <a href="#" class="btn-def" data-i18n="type.ecn.button">OPEN an ECN ACCOUNT NOW</a>
            <p class="note" data-i18n-html="type.note">Just sign up - <span>it’s free</span></p>
          </li>
        </ul>
      </div>

      <div class="type__vec1 no-select" aria-hidden="true">
        <img src="/img/decor/vec_1.svg" alt="" />
      </div>
      <div class="type__vec2 no-select" aria-hidden="true">
        <img src="/img/decor/vec_2.svg" alt="" />
      </div>
    </div>
  </div>
</section>
