<section class="whycopy">
  <div class="whycopy__container">
    <div class="heading col-gap aic">
      <h2 class="tl2 cb" data-i18n="whycopy.title">WHY COPY TRADING?</h2>

      <div class="txt1 cb">
        <p data-i18n="whycopy.text">
          Built for results. Backed by regulation. Trusted worldwide
        </p>
      </div>
    </div>

    <ul class="whycopy__cards">
      <li class="card-whycopy">
        <div class="card-whycopy__img no-select">
          <span><img src="./img/content/why_1.png" alt="" /></span>
        </div>
        <h3 class="tl4 cb">No experience required</h3>
        <div class="txt2 cb">
          <p>
            You don’t need charts, strategies, or training — just choose a
            trader and the system handles the rest
          </p>
        </div>
      </li>
      <li class="card-whycopy">
        <div class="card-whycopy__img no-select">
          <span><img src="./img/content/why_2.png" alt="" /></span>
        </div>
        <h3 class="tl4 cb">Automated execution</h3>
        <div class="txt2 cb">
          <p>
            Every trade made by your chosen trader is instantly mirrored in your
            account, with no manual action needed
          </p>
        </div>
      </li>
      <li class="card-whycopy">
        <div class="card-whycopy__img no-select">
          <span><img src="./img/content/why_3.png" alt="" /></span>
        </div>
        <h3 class="tl4 cb">You can pause or stop anytime</h3>
        <div class="txt2 cb">
          <p>
            Want to take a break or switch to a different trader? You’re free to
            pause or exit at any moment
          </p>
        </div>
      </li>
      <li class="card-whycopy">
        <div class="card-whycopy__img no-select">
          <span><img src="./img/content/why_4.png" alt="" /></span>
        </div>
        <h3 class="tl4 cb">Transparent stats & full control</h3>
        <div class="txt2 cb">
          <p>
            See each trader’s past performance, risk level, number of trades,
            and more — so you can make informed decisions
          </p>
        </div>
      </li>
      <li class="card-whycopy">
        <div class="card-whycopy__img no-select">
          <span><img src="./img/content/why_5.png" alt="" /></span>
        </div>
        <h3 class="tl4 cb">Earn passively alongside real traders</h3>
        <div class="txt2 cb">
          <p>
            As they profit, you do too — without needing to stay glued to the
            markets
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
