<section class="works" id="works">
  <div class="works__container">
    <div class="works__body">
      <div class="works__content">
        <h2 class="tl2" data-i18n-html="works.title_html">
          HOW IT WORKS IN <span>3 SIMPLE STEPS</span>
        </h2>

        <ul class="works__list">
          <li class="works__item">
            <span>01</span>
            <p data-i18n="works.steps.step1">Create your free account</p>
          </li>
          <li class="works__item">
            <span>02</span>
            <p data-i18n="works.steps.step2">Make a deposit from € 250</p>
          </li>
          <li class="works__item">
            <span>03</span>
            <p data-i18n="works.steps.step3">Start trading your way</p>
          </li>
        </ul>
      </div>

      <div class="works__desc no-select">
        <img src="/img/decor/desc_2.png" alt="" />
      </div>
    </div>
  </div>

  <div class="works__space ibg no-select">
    <img src="/img/decor/space.png" alt="" />
  </div>
  <div class="works__bg ibg no-select">
    <img src="/img/decor/bg_lg.jpg" alt="" />
  </div>
</section>