<section class="contact">
  <div class="contact__container">
    <div class="contact__body">
      <div class="contact__content">
        <h1 class="tl1">Create Your Free Account</h1>
        <div class="txt1 ch">
          <p>
            Join thousands of investors using our secure platform to copy
            top-performing traders. No experience needed just sign up and start
            trading smarter.
          </p>
        </div>

        <div class="contact__graph1 no-select">
          <img src="/img/decor/graph_1.png" alt="" />
        </div>
        <div class="contact__graph2 no-select">
          <img src="/img/decor/graph_2.png" alt="" />
        </div>
        <div class="contact__graph3 no-select">
          <img src="/img/decor/graph_3.png" alt="" />
        </div>
        <div class="contact__man no-select">
          <img src="/img/decor/man_1.png" alt="" /> 
        </div>
      </div>

      <div class="contact__form">
        <iframe
        src="https://www.adstartrader.com/live-form/?language=it&amp;v=1746697531580"
        frameborder="0"
        width="100%"
        id="register_iframe"
        height="720px"
      ></iframe>
      </div>
    </div>
  </div>

  <div class="contact__wrapp">
    <div class="contact__space no-select">
      <img src="/img/decor/space.png" alt="" />
    </div>
  </div>
</section>
