<section class="hero">
  <div class="hero__container">
    <div class="hero__body">
      <div class="hero__content">
        <div class="trustpilot">
          <a href="#" class="trustpilot__img">
            <img src="/img/content/trust.svg" alt="" />
          </a>
          <p><span>4.8</span> (basierend auf 800+)</p>
        </div>

        <h1 class="tl1">KOPIERE WIRKLICHE TRADER. ERREICHE WIRKLICHE ERGEBNISSE</h1>
        <div class="txt1 ch">
          <p>
            Lassen Sie Experten die Arbeit machen — Sie kopieren ihre Trades in Echtzeit
            und verdienen, wenn sie es tun. Alles über eine einfache, sichere Plattform,
            die für Anfänger entwickelt wurde.
          </p>
        </div>

        <a href="/contact.html" class="btn-def">Starten Sie Copy Trading</a>

        <p class="note">Registrierung dauert <span>weniger als 1 Minute</span></p>
      </div>

      <div class="hero__graph1 no-select">
        <img src="/img/decor/graph_1.png" alt="" />
      </div>
      <div class="hero__graph2 no-select">
        <img src="/img/decor/graph_2.png" alt="" />
      </div>
      <div class="hero__graph3 no-select">
        <img src="/img/decor/graph_3.png" alt="" />
      </div>
      <div class="hero__girl no-select">
        <img src="/img/decor/girl_2.png" alt="" />
      </div>
    </div>
  </div>

  <div class="hero__wrapp">
    <div class="hero__space no-select">
      <img src="/img/decor/space.png" alt="" />
    </div>
  </div>
</section>